.au-addons-table__current-label,
.au-addons-table__current-title {
  color: #4682b4;
  margin-left: 15px;
}

.au-addons-table__body {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #0e001d;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.au-addons-table__addon {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin: 8px;
  cursor: pointer;
  background-color: #ffffff;
  transition-duration: .3s;
  transition-property: background-color, box-shadow;
  border: 1px solid #cccccc;
  border-radius: 6px;
}

.au-addons-table__addon:hover {
  box-shadow: 0px 0px 4px #000;
}

.au-addons-table__addon:active {
  box-shadow: 0px 0px 8px #000;
}

.au-addons-table__addon--failed {
  background-color: #ff8080;
  border-color: #f37676;
}

.au-addons-table__addon--updated {
  background-color: #92cc92;
  border-color: #7abb7a;
}

.au-addons-table__addon--fetching {
  background-color: #9d9dea;
  border-color: #8a8adb;
}
